@import 'utils';

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
    margin-top: 2rem;
    @include media("<=medium") {
        margin-top: 0rem;
    }
    .form {
        flex: 1;
        width: 100%;
        // height: calc(100vh);
    }

    .register-lead {
       @include media("<=medium") {
        width: 100%;
       }
    }
}