@import 'utils';

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $oc-gray-3;
    
    @include media("<=medium") {
        border-left: none;
    }
    
    .user {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 3rem;
        @include media("<=medium") {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .profile-image {
            
            margin-left: 7rem;
            
            display: flex;
            align-items: center;
            justify-content: center;
            @include media("<=medium") {
                margin-left: 1rem;
                margin-right: 1rem;
                // justify-content: flex-start;
            }
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid $oc-gray-3;

                @include media("<=medium") {
                    width: 35px;
                    height: 35px;
                    // margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .username {
                
                font-size: 1.5rem;
                @include media("<=medium") {
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
    
            .update-image {
                color: $oc-blue-5;
                cursor: pointer;
                font-weight: 600;
                font-size: 0.85rem;
            }
    
            .username + .update-image {
                margin-top: 0.25rem;
            }
    
        }
    
        .profile-image + .info {
            margin-left: 2rem;

            @include media("<=medium") {
                margin-left: 0rem;
            }
        }
    
        
        
        
    }

    .inputs {
        margin-bottom: 1rem;
        // margin-left: 7rem;
        display: flex;
        flex-direction: column;
        // margin-left: 7rem;
        // padding-top: 3rem;
        // margin: 0 auto;
        .line {
            line-height: 2rem;
            display: flex;
            flex-direction: row;
            // justify-content: center;
            align-items: center;
            @include media("<=medium") {
                flex-direction: column;
                align-items: flex-start;
            }
            .label {
                width: 30%;
                padding-left: 2rem;
                padding-right: 2rem;
                text-align: right;
                font-weight: 600;
                @include media("<=medium") {
                    text-align: left;
                    width: 100%;
                    padding-right: 1rem;
                    padding-left: 1rem;
                }
            }
    
            input {
                width: 50%;
                font-size: 1.25rem;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                // flex: 1;
                // width: 60%;
                // margin-right: 2rem;
                height: 2rem;
                border: 1px solid $oc-gray-3;
                outline: none;
                border-radius: 2px;
                @include media("<=medium") {
                    flex: 1;
                    width: 90%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }

            .button {
                @include media("<=medium") {
                    margin-left: 1rem;
                }
            }

            .label + input {
                // margin-left: 2rem;
            }
        }

        .line + .line {
            margin-top: 1rem;
        }
    }
}

