@import 'utils';

.followers {
    margin: 0 auto;
    width: 625px;
    height: 500px;
    overflow: auto;
    @include media("<=medium") {
       width: 300px;
    }
    padding: 1rem;

    .title {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $oc-gray-4;
        padding-bottom: 1rem;
        
        .text {
            font-size: 1.25rem;
            font-weight: 550;
            user-select: none;
        }

        .icon {
            margin-left: auto;
            font-weight: 550;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

}